@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    max-widht: 390px;
    background: lightgreen;
    font-family: "Oswald", normal;

}

p {
    color: red;
    font-size: 72px;
    text-align: center;
    background: green
}